@import url(__button/__button.css);

.navbar {
  display: none;
  background-color: transparent;
  margin-left: auto;
  margin-right: 20px;
  margin-top: auto;
  width: 24px;
}

@media (max-width: 400px) {
  .navbar {
    display: flex;
    flex-direction: column;
  }
}

.navbar:hover {
  cursor: pointer;
}

