.auth-modal__title {
  border: none;
  margin-right: 0;
  width: 64px;
  height: 22px;
}

@media (max-width: 320px) {
  .auth-modal__title {
    margin-right: 20px;
    width: 48px;
    height: 24px;
  }
}
